################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyStore/.vs/MyStore
/MyStore/MyStore/obj
